.app {
	min-height: 100vh;
}

.notifications {
	padding: 2rem 4rem;
	min-height: calc(100vh - 100px);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.header h1 {
	color: var(--primary-color);
}

.header > div {
	position: relative;
}

.header button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header button svg {
	transform-origin: center;
	transition: all 0.25s ease-in-out;
	width: 2rem;
	height: 2rem;
}

.header button svg:hover {
	transform: rotate(90deg) scale(1.2);
}

.settings {
	position: absolute;
	background-color: var(--foreground-color);
	transition: opacity 0.25s ease-in-out;
	width: 200px;
	padding: 0.5rem;
	border-radius: 5px;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 10px;
}

.settings.show {
	opacity: 1;
}

.settings.hide {
	pointer-events: none;
	opacity: 0;
}

.settings > label,
.settings > button {
	color: var(--background-color);
	padding: 0.5rem;
	border-radius: 5px;
	width: 100%;
	transition: background-color 0.15s ease-in-out;
}

.settings > label:hover,
.settings > button:hover {
	background-color: var(--dimmed-1-foreground-color);
}

.settings label {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.settings label input {
	margin-right: 10px;
}

.settings button {
	font-size: 1rem;
	text-align: start;
}

.settings hr {
	width: 100%;
	height: 1px;
	background-color: var(--background-color);
	border: none;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.app footer {
	width: 100%;
	height: 100px;
	background-color: var(--background-color);
	border-top: 1px solid var(--primary-color);
	padding: 0 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.app footer p,
.app footer a {
	color: #777777;
}

.button {
	font-size: 1rem;
	font-weight: 700;
	background-color: var(--background-color);
	color: var(--foreground-color);
	border: 1px solid var(--foreground-color);
	padding: 0.75rem 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}

.button:hover {
	background-color: var(--foreground-color);
	color: var(--background-color);
	border: 1px solid var(--background-color);
}
